<div class='container'>
  <h3>Events for <%= pretty_date(Date.current.to_s) %></h3>
  <div class='row'>
    <% @categories.each do |category| %>
    <div class='item'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h5 class='category-heading'><b><%= category.name %></b></h5>
        </div>
        <div class='panel-body'>
          <% category.events.todays_events.each do |event| %>
            <p><%= event.title %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
